<!DOCTYPE HTML>
<html>
	<head>
		<title>My Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
    <link rel="icon" href="/static/coding_computer.ico">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<!-- <span class="image avatar48"><img src="/static/images/about-me.jpg" alt="" /></span> -->
							<h1 id="title">Taivon Edwards</h1>
							<p>Software Engineer</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Intro</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">Portfolio</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">About Me</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>
								<li><a href="https://acrobat.adobe.com/id/urn:aaid:sc:US:d9ce8b8b-6c13-4916-b53b-2d61ddbb625c" id="resume-link"><span class="icon solid fa-folder">Resume</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/taivon-edwards-0823b5b0/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
							<li><a href="https://github.com/Tai106" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="mailto:taivonedwards1@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Hi! I'm <strong>Taivon Edwards</strong>
								<p>Welcome To My Portfolio!<br />
								Take a look around.</p>
							</header>

							<footer>
								<a href="#portfolio" class="button scrolly">Let's Begin</a>
							</footer>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>Portfolio</h2>
							</header>

							<p>Here you can find some projects that I recentley made.</p>

							<div class="row">
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="https://glgberat.github.io/project1/" class="image fit"><img src="/static/images/Book Browser.JPG" width="" height="260" alt="" /></a>
										<header>
											<h3>Book Browser</h3>
										</header>
									</article>
									<article class="item">
										<a href="https://github.com/Tai106/dinnection.git" class="image fit"><img src="/static/images/dinnection.png" height="260" alt="" /></a>
										<header>
											<h3>Dinnection</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="https://github.com/Tai106/Travela.git" class="image fit"><img src="/static/images/Travela.png" height="260" alt="" /></a>
										<header>
											<h3>Travela</h3>
										</header>
									</article>
									<article class="item">
										<a href="http://tai106.pythonanywhere.com/" class="image fit"><img src="/static/images/blogit.jpg" height="260" alt="" /></a>
										<header>
											<h3>Blog-it</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="https://tai106.github.io/the-menu/" class="image fit"><img src="/static/images/The Menu.jpg" height="260" alt="" /></a>
										<header>
											<h3>The Menu</h3>
										</header>
									</article>
									<article class="item">
										<a href="https://tai106.github.io/password-generator/" class="image fit"><img src="/static/images/password generator.jpg" height="260" alt="" /></a>
										<header>
											<h3>Budget Tracker</h3>
										</header>
									</article>
								</div>
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>

							<p>Hello there! I'm a Solution-driven Software Engineer based in Queens, New York, with a background in Architecture. 
								I am passionate about all things tech. My jouney as a Software engineer began with a curiosity for how things work and a 
								strong desire to build something meaningful. Beyond coding, I am  an avid car enthusiast, with an intrest in travelling,
								 exploring different cultures and learning new languages.</p>

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p><strong>Looking forward to hearing from You!</strong>
              </p>

							<form method="post" action="submit_form">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; 2023 Taivon Edwards.</li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>